.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
  justify-content: center;
}

  .wrapper > * {
    padding: 20px;
  }

.page-main {
  width: 50%;

}

.page-side {
  width: 25%;
  flex: 1 0 auto;
  align-items: center;
}

.side-component {
  align-items: center;
  justify-content: center;
  top: 10%;
  position: sticky;
}
