<br />
<br />
<br />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6" style="display:flex;align-items:center;">
                 <h6 style="margin-bottom: 0%">{{this.messageService.groupName}}</h6>
              </div>
              <div class="col-lg-6">
                <button type="button" *ngIf="messageService.groupName != undefined" style="float: right"
                        (click)="leaveGroup()" class="btn btn-danger">Leave Group</button>
              </div>
            </div>
          </div>
          <div id="plist" class="people-list">
            <ul class="list-unstyled chat-list mt-2 mb-0" *ngFor="let group of messageService.groups">
              <li class="clearfix" (click)="openChat(group)">
                <div class="about">
                  <div class="name">{{group}}</div>
                </div>
              </li>
            </ul>
          </div>
          <div id="chat" class="chat-history" style="overflow-y: scroll; height: 550px">
            <h5 class="text-muted" *ngIf="messageService.messages.length == 0 && messageService.inGroup">There are no messages in this group</h5>
            <h5 class="text-muted" *ngIf="!messageService.inGroup">Select a group or join one from the homepage</h5>

            <ul class="m-b-0" *ngFor="let m of messageService.messages">
              <li class="clearfix" *ngIf="m.username == this.localStorage.getUser().username">
                <div class="message-data text-right">
                  <div class="message-data-time">{{m.dateTime | date : 'short'}}</div>
                </div>
                <div class="message my-message float-right">{{m.text}}</div>
              </li>

              <li class="clearfix" *ngIf="m.username != this.localStorage.getUser().username">
                <div class="message-data">
                  <span class="message-data-time">{{m.username}} at {{m.dateTime | date : 'short'}}</span>
                </div>
                <div class="message message">{{m.text}}</div>
              </li>
            </ul>
          </div>
          <div class="chat-message clearfix">
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <button class="btn btn-primary" [disabled]="text.length==0" (click)="sendMessage()">Send Message</button>
              </div>
              <input type="text" class="form-control" placeholder="Enter text here..." [(ngModel)]="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
