<body style="width:100%">
  <div style="text-align: center; height: 792px; display: flex; flex-direction:column; justify-content: center; align-items:center;">
    <h1>Welcome to GoPlay</h1>
    <footer>The first social media platform designed to help people play sports</footer>

    <div class="container">
      <div>
        <div *ngIf="!registerMode" style="text-align:center;">
          <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2 mt-3">Register</button>
          <button (click)="redirect()" class="btn btn-primary btn-lg mr-2 mt-3">Register a Sports Center</button>
        </div>
        <div *ngIf="registerMode">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>

  </div>
</body>
